# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Angular build
dist/
.angular/
out-tsc/
tmp/

# Compilación TS
*.tsbuildinfo

# Logs
logs/
*.log

# Ambiente
.env

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Sistema
.DS_Store
Thumbs.db

# PM2
.pids
