:host {
  display: block;
  width: 100%;
  background-color: #0a4f92;
  color: white;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  padding: 1rem 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.social-icons a {
  color: white;
  margin: 0 0.5rem;
  font-size: 24px;
  transition: color 0.3s;
  text-decoration: none;
}

.social-icons a:hover {
  color: #f0db4f; /* efecto amarillo al pasar el mouse */
}
