<footer>
    <div class="footer-content">
      <div class="social-icons">
        <a href="https://facebook.com" target="_blank" aria-label="Facebook">
          <span class="material-icons">facebook</span>
        </a>
        <a href="https://twitter.com" target="_blank" aria-label="Twitter">
          <span class="material-icons">twitter</span>
        </a>
        <a href="https://instagram.com" target="_blank" aria-label="Instagram">
          <span class="material-icons">instagram</span>
        </a>
      </div>
  
      <p>FindControl &copy; v{{ version }} - Todos los derechos reservados</p>
    </div>
  </footer>
  